/* FONT FAMILY CODE HERE */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;600&family=Roboto:wght@400;500;700&display=swap");

.ff_roboto {
  font-family: "Roboto", sans-serif;
}
.ff_outfit {
  font-family: "Outfit", sans-serif;
}
/*ADD ROOT CODE HERE */
:root {
  /* =====================font-size===================== */
  --font-sm: 14px;
  --font-xsm: 16px;
  --font-md: 18px;
  --font-lg: 20px;
  --font-xl: 24px;
  --font-2xl: 48px;
  --font-3xl: 52px;
  --font-4xl: 64px;
  /* =======================color======================= */
  --color-pink: #ff5cd7;
  --color-dark: #0d0d0d;
  --color-offWhite: #ffeeee;
  /* ==================== background-color ================= */
  --bg-offWhite: #faf8f8;
}

/* ONLY FONT SIZE MEDIA QUERY */
@media (max-width: 1399.98px) {
  :root {
    --font-2xl: 45px;
    --font-3xl: 50px;
    --font-4xl: 60px;
  }
}
@media (max-width: 1199.98px) {
  :root {
    --font-xsm: 15px;
    --font-md: 17px;
    --font-lg: 19px;
    --font-xl: 22px;
    --font-2xl: 39px;
    --font-3xl: 48px;
    --font-4xl: 52px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-md: 16px;
    --font-lg: 18px;
    --font-2xl: 38px;
    --font-3xl: 45px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-xl: 20px;
    --font-2xl: 38px;
    --font-3xl: 42px;
    --font-4xl: 50px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-sm: 12px;
    --font-xsm: 14px;
    --font-2xl: 30px;
    --font-3xl: 40px;
    --font-4xl: 45px;
  }
} /* =================== DEFINE FONT-SIZE======================== */

.font_sm {
  font-size: var(--font-sm);
}
.font_xsm {
  font-size: var(--font-xsm);
}

.font_md {
  font-size: var(--font-md);
}

.font_lg {
  font-size: var(--font-lg);
}

.font_xl {
  font-size: var(--font-xl);
}
.font_2xl {
  font-size: var(--font-2xl);
}
.font_3xl {
  font-size: var(--font-3xl);
}
.font_4xl {
  font-size: var(--font-4xl);
}
/* DEFINE COLOR */
.text_pink {
  color: var(--color-pink);
}
.text_dark {
  color: var(--color-dark);
}
.text_offWhite {
  color: var(--color-offWhite);
}
/* DEFINE BACKGROUND COLOR */
.bg_pink {
  background-color: var(--color-pink);
}
.bg_offWhite {
  background-color: var(--bg-offWhite);
}
/* DEFINE OPACITY */
.opacity_05 {
  opacity: 0.5;
}
.opacity_06 {
  opacity: 0.6;
}
.opacity_07 {
  opacity: 0.7;
}
/* DEFINE LINE HEIGHT */
.lh_110 {
  line-height: 110%;
}
.lh_120 {
  line-height: 120%;
}
.lh_150 {
  line-height: 150%;
}

/* DEFINE FONT-WEIGHT  */
.fw_medium {
  font-weight: 500;
}
/* MY-CSS-START*/
body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  font-family: "Roboto", sans-serif !important;
  background-color: #efefef !important;
}
/*HEADER-SECTION-CSS */
.nav-fix {
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  transition: all 400ms linear;
  display: flex;
  background: #000 !important;
  align-items: center;
  justify-content: center;
  opacity: 100%;
  z-index: 12 !important;
}

.fix-navbar {
  min-height: 100vh;
  position: absolute;
  top: 0%;
  position: fixed;
  left: -100%;
  transition: all 300ms linear;
}
.mobileNav_bg {
  background: #000000;
}
.line_toggle {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.transition_03 {
  transition: all 0.3s linear;
}
.nav_hover::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -7px;
  background-color: #ffffff;
  left: 0%;

  transition: all 300ms;
}
.nav_hover:hover::before {
  width: 40%;
}
.nav_hover::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: -7px;
  background-color: #ffffff;
  left: 0%;

  transition: all 300ms;
}
.nav_hover:hover::after {
  width: 40%;
}
.btn_close_position {
  top: 20px;
  right: 20px;
}
.navbar_bg {
  border-radius: 328px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(7.5px);
  padding: 12px 18px 12px 30px;
}

.common_btn {
  border-radius: 264px;
  padding: 15px 30px;
  border: 1px solid transparent;
}
.common_btn:hover {
  background-color: transparent !important;
  color: #ff5cd7 !important;
  border: 1px solid #ff5cd7 !important;
}
.transparent_btn:hover {
  background-color: white !important;
  color: black !important;
  box-shadow: 0px 1px 3px 0px white;
}
.pink_btn:hover {
  background-color: black !important;
  color: white !important;
  box-shadow: 0px 1px 3px 0px rgb(118, 115, 115);
  border: 1px solid white;
}
/* HERO SECTION CSS  */
.hero_bg {
  background-image: url(../src/assets/images/webp/hero-bg-img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.border_white {
  border: 1px solid white !important;
}
.mw_709 {
  max-width: 709px;
}
/* Welcome to work skills section css */
.br_5 {
  border-radius: 5px;
}
.welcome_img {
  max-width: 679px;
  max-height: 495px;
}
.welcomSkill_box {
  width: 100% !important;
}

/* Join work section css */
.joinWork_bg {
  background-image: url(../src/assets/images/webp/joinwork-bg-img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.planningSocial_bg {
  width: 327px;
  background: #fff8f8;
  box-shadow: 0px 1px 40px 0px rgba(0, 0, 0, 0.1);
}
.planningSocial_set {
  left: 0;
  top: 90%;
}
.getupdated_planning_img {
  width: 558px !important;
  height: 410px !important;
}
/* get-updated-section */
input:focus-visible {
  outline: none !important;
}
textarea:focus-visible {
  outline: none !important;
}
input::placeholder {
  color: #000000 !important;
  font-size: var(--font-xsm);
}
textarea::placeholder {
  color: #000000 !important;
  font-size: var(--font-xsm);
}
.getupdated_input {
  border: 1px solid / 000;
  background: #fff;
  border: 1px solid;
  border-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 58.33%
    )
    1;
  border-image-slice: 1;
}
.get_updated_sendBox {
  padding: 28px 45px 27px 44px;
  background: #faf8f8;
  box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.05);
}
.sendMsg_btn {
  max-width: 167px !important;
}
/* faq-section-css */
.faq_accordion .accordion-button {
  font-size: var(--font-lg) !important;
  font-family: "Outfit", sans-serif !important;
  font-weight: 500 !important;
  color: #000000 !important;
  background-color: transparent !important;
}
.faq_accordion .accordion-item {
  border-radius: 10px !important;
  border: 1px solid #c5c5c5 !important;
  background-color: #efefef;
}
.faq_accordion .accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.faq_accordion .accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}
.faq_accordion .accordion-body {
  padding: 0px 20px 16px 20px !important;
  width: 85%;
  font-size: var(--font-xsm) !important;
  font-family: "Outfit", sans-serif !important;
  font-weight: 400 !important;
  color: #0d0d0d;
  opacity: 0.8;
  line-height: 150%;
}
/* footer-section-css */
.footer_bg {
  background-image: url(../src/assets/images/webp/footer-bg-img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footersection_logo {
  max-width: 89px;
  height: 75px;
}
.footer_line {
  background: rgba(255, 255, 255, 0.1);
  height: 1px;
}
/* view all section css */
.viewAll_border {
  border-top: 1px solid #0000001a;
  border-bottom: 1px solid #0000001a;
}
.read_more:hover {
  color: #ff5cd7 !important;
}
.viewall_img {
  width: 365px;
  height: 226px;
}
.mw_565 {
  max-width: 565px;
}
/* ------------------------backtotop------------------------ */
.topscroll {
  position: fixed;
  right: 15px;
  bottom: 25px;
  background: #000000;
  height: 40px;
  width: 40px;
  z-index: 100;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid white;
  box-shadow: 4px 9px 50px 2px gray;
  transition: all 0.3s linear;
  -webkit-animation: move 2s ease-in-out infinite;
  -webkit-animation: up-down 2.5s ease-in-out infinite;
  animation: up-down 2.5s ease-in-out infinite;
}

@-webkit-keyframes up-down {
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
/* ------------------preloader css -------------- */
.loader_animation {
  width: 140px;
  height: 47px;
  position: relative;
  animation-name: loader;
  animation-duration: 4s;
}

@keyframes loader {
  0% {
    width: 140px;
    height: 47px;
  }
  50% {
    width: 70px;
    height: 24px;
  }
  100% {
    width: 140px;
    height: 47px;
  }
}
.arrowbtn_bg {
  background-color: #05502e;
  border-radius: 50%;
}
.btn_set {
  bottom: 10px;
  right: 10px;
}
.z-10 {
  z-index: 10 !important;
}
.icon_hover:hover {
  scale: 1.1;
}

/* ONLY MEDIA QUERY */
@media (min-width: 1400px) {
  .custom_container {
    max-width: 1140px !important;
    margin: 0 auto;
    padding: 0 12px;
  }
  .welcomSkill_box {
    width: 557px !important;
  }
}
@media (min-width: 1200px) {
  .min_vh_100 {
    min-height: 100vh;
  }
  .lh_21 {
    line-height: 21.09px;
  }
  .lh_75 {
    line-height: 75px;
  }
  .lh_56 {
    line-height: 56.25px;
  }
  .lh_16 {
    line-height: 16.41px;
  }
  .lh_28 {
    line-height: 28.13px;
  }
  .lh_23 {
    line-height: 23.44px;
  }
}
@media (min-width: 992px) {
  .joinsection_logo {
    max-width: 128.217px;
    height: 107.796px;
  }
  .position-lg-relative {
    position: relative;
  }
  .position-lg-absolute {
    position: absolute;
  }
  .right_0 {
    right: 0;
  }
  .snedBox_position {
    right: 0;
    top: 15%;
  }
}

@media (max-width: 1199.98px) {
  .get_updated_sendBox {
    padding: 28px;
  }
  .viewall_img {
    width: 300px !important;
    height: 226px;
  }
  .welcome_img {
    max-width: 610px;
  }
}
@media (max-width: 991.98px) {
  .navbar_bg {
    padding: 12px 18px !important;
  }
  .logo_img {
    max-width: 45px !important;
    height: 35px !important;
  }
  .planningSocial_bg {
    width: 75% !important;
  }
  .welcome_img {
    width: 516px !important;
    height: 250px !important;
  }
  .getupdated_planning_img {
    width: 516px !important;
    height: 250px !important;
  }
  .viewall_img {
    width: 280px !important;
    height: 205px !important;
  }
}
@media (max-width: 767.98px) {
  .getupdated_planning_img {
    width: 500px !important;
    height: 200px !important;
  }
  .planningSocial_bg {
    width: 100% !important;
  }
  .welcome_img {
    width: 500px !important;
  }
  .viewall_img {
    width: 500px !important;
  }
}

@media (max-width: 575.98px) {
  .common_btn {
    padding: 10px 25px;
  }
  .viewall_img {
    width: 330px !important;
  }
  .getupdated_planning_img {
    width: 500px !important;
  }
  .welcome_img {
    width: 500px !important;
  }
  .viewall_img {
    width: 500px !important;
  }
}
@media (max-width: 500px) {
  .welcome_img {
    width: 400px !important;
  }
  .getupdated_planning_img {
    width: 400px !important;
  }
  .viewall_img {
    width: 400px !important;
  }
}
@media (max-width: 400px) {
  .welcome_img {
    width: 350px !important;
  }
  .getupdated_planning_img {
    width: 350px !important;
  }
  .viewall_img {
    width: 350px !important;
  }
}
@media (max-width: 374.98px) {
  .welcome_img {
    width: 290px !important;
  }
  .getupdated_planning_img {
    width: 290px !important;
  }
  .viewall_img {
    width: 290px !important;
  }
}
